// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$licht-500: #F2FFF9;
$licht-600: #E6FCF3;
$licht-700: #BFF6E0;


$main-500: #00DC82;
$main-600: #00C675;
$main-700: #00844E;

$donker-500: #003543;
$donker-600: #00303C;
$donker-700: #002028;
